<div class="max-w-7xl mx-auto px-4">
  <section class="bg-green-50 py-12 px-4 sm:px-8">
    <% if user_signed_in? %>
      <%= render 'top/login_user' %>
    <% else %>
      <%= render 'top/guest_user' %>
    <% end %>
  </section>
</div>