<p>※このメールは、【フィッシング詐欺学習室】にご登録いただいたメールアドレス宛に自動的に送信しています。</p>

<p><%= @email %> 様</p>
<br>
<p>この度は、【フィッシング詐欺学習室】のユーザー登録をしていただき誠にありがとうございます。</p>
<p>現在、仮登録の状態です。</p>
<p>以下のリンクをクリックしてメールアドレスの認証を完了してください。</p>

<p class="text-center">
  <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"
     style="display: inline-block; padding: 12px 24px; background-color: #16a34a; color: white; text-decoration: none; border-radius: 6px; font-weight: bold;">
    メールアドレスを認証する
  </a>
</p>

<hr class="my-4">
<p>【サービス名】フィッシング詐欺学習室</p>
<p>【連絡先】X (旧Twitter)：<a href="https://x.com/nzk_65b" target="_blank">ねずっこ(@nzk_65b)</a></p>
<p>※本メールは送信専用です。ご不明点がある場合は上記SNSなどからご連絡ください。</p>
<p>※本メールに身に覚えの無い場合は、本メールを破棄していただきますようお願いいたします。</p>

